
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;

  font-style: normal;
}

/* nav style */
nav{
    display: flex ;
    justify-content: space-between;
    margin: 0 100px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
}
.dark-2{
    color: #0D1321;
}
.btn-1{
    padding: 17px 24px;
    border-radius: 8px;
}
/* header */

/* banner */
.banner-content{
    width: 998;
    padding: 200px;
    
}
.banner{
    text-align: center;
     margin-top: 100px; 
     background-image: url(../assets/Hero-bg.png);
}
.btn-2{
    padding: 21px 24px;
    border-radius: 8px;
    background-color: #0D1321;
    color: #FFFFFF;
    


}
/* section */
.section-title{
    font-size: 32px;
    font-weight: 900;
    color: #0D1321;
    

}
main{
    max-width: 1140px;
    margin: 0 auto;

}
.section-des{
    font-size: 18px;
    color: #0D1321;

}
.about{
    margin-top: 50px;
    text-align: center;
    padding: 100px;

}
.item-title{
    
}
.title-l{
    display: flex;
}
.title-x{
    display: flex;
}
.title-a{
    display: flex;
    
}
.item-title{
    font-size: 24px;
    font-weight: bold;
}
.title-1{
    text-align: left;
}
.title-2{
    text-align: right;
}
.title-3{
    text-align: left;
}
.heading{
    font-size: 32px;
    font-weight: 900;
}
.new{
    text-align: center;
}
.skill-con{
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
}
.skill-title{
    font-size: 24px;
    font-weight: 900;
}
.btn3{
     font-size: 16px;
     font-weight: 800;
}
.foot{
    text-align: center;
    margin-top: 100px;
     background-image: url(../assets/handshake.jpg); 
     height: 330px;
     background-size: cover;
     border-radius: 10px;
     
    

}
.btn4{
    width: 120px;
    height: 40px;
    border-radius: 8px;
}
.vas{
    width: 300px;
    height: 40px;
    border-radius: 8px;
}
.font{
    font-size: 32px;
    font-weight: bold;
    padding: auto;
}
.last{
    text-align: center;
    margin-top: 50px;
}
.oper{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    border: 50px;
    align-items: center;
}
.you{
    font-size: 20px;
    font-weight: 700;
}
.port{
    text-align: center;
}